@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

@media (min-width: 577px){
.container-fluid{
	background-image: url("../images/background.png");
	background-position: center;
    background-size: cover;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
}
}

#santa{
	width: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   padding-top: 25%;

}

.left h1{
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;	
	padding-top: 80px;
	padding-bottom: 20px;
	font-weight: 400;
	font-size: 36pt;
}

.left h2{
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
    font-size: 18pt;
    font-weight: 300;	
}
.elf{ 
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   text-align: center;
   padding-top: 50px;
}

/* Anything Smaller than Large  */
@media (max-width: 576px) {
.container-fluid{
	background-image: url("../images/mobile_bg.png");
    width: 100%;
    height:100%;
}
#santa{ 
	padding-top: 5%;

 }

.elf{padding-bottom: 0px;
     padding-top: 0px; 
     width: 60%;


 }

.left h1{
padding-top: 30px;
}

}

.btn.btn-info { 
  color: #ffffff; 
  background-color: #FC6868; 
  border-color: #FC6868; 
} 
 
.btn.btn-info:hover, 
.btn.btn-info:focus, 
.btn.btn-info:active, 
.btn.btn-info.active, 
.open .dropdown-toggle.btn.btn-info { 
  color: #ffffff; 
  background-color: #FC6868; 
  border-color: #FC6868; 
} 
 
.btn.btn-info:active, 
.btn.btn-info.active, 
.open .dropdown-toggle.btn.btn-info { 
  background-image: none; 
} 
 
.btn.btn-info.disabled, 
.btn.btn-info[disabled], 
fieldset[disabled] .btn.btn-info, 
.btn.btn-info.disabled:hover, 
.btn.btn-info[disabled]:hover, 
fieldset[disabled] .btn.btn-info:hover, 
.btn.btn-info.disabled:focus, 
.btn.btn-info[disabled]:focus, 
fieldset[disabled] .btn.btn-info:focus, 
.btn.btn-info.disabled:active, 
.btn.btn-info[disabled]:active, 
fieldset[disabled] .btn.btn-info:active, 
.btn.btn-info.disabled.active, 
.btn.btn-info[disabled].active, 
fieldset[disabled] .btn.btn-info.active { 
  background-color: #FC6868; 
  border-color: #FC6868; 
} 
 
.btn.btn-info .badge { 
  color: #FC6868; 
  background-color: #ffffff; 
}